<div class="contact-container">
<span class="titel">Contact me.</span>

<span class="email">Get in touch via the form  below, or by emailing </span>

<span class="name">Name</span>
<input type="text" class="input-field" id="NameInputfield" placeholder="Enter your name"> 
<span class="email-input">Email address</span>
<input type="text" class="input-field" id="NameInputfield" placeholder="Enter your Email address"> 

<span class="email-input">Message</span>
<input type="text" class="input-field-message" id="NameInputfield" placeholder="Enter your message"> 
</div>

<button class="send-button"><span class="send-world">send</span> </button>